
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="~/Content/CssHome/HinhSanPham/sl1.jpg" alt="" />
            </li>
            <li>
                <img src="~/Content/CssHome/HinhSanPham/sl2.jpg" alt="" />
            </li>
            <li>
                <img src="~/Content/CssHome/HinhSanPham/sl3.jpg" alt="" />
            </li>
        </ul>
  
    </div>
    <div class="clearfix"> </div>
</div>